<div class="star_review">
    <img src="<%= imgStar %>" class="starReview">
    <img src="<%= imgStar %>" class="starReview">
    <img src="<%= imgStar %>" class="starReview">
    <img src="<%= imgStar %>" class="starReview">
    <img src="<%= imgStar %>" class="starReview">
    <span><%= nambResponse2 %></span><a href="#"><%= responses %></a>
</div>